*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: black;
    color: goldenrod;
}
h1{
    font-size: 36px;
}
.inst > p{
    font-size: 24px;
}
main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 100%;
}
img{
    height: 150px;
    width: 150px;
}
.result{
    display: none;
    border: 0.2vw whitesmoke;
    border-style:dotted solid dashed double;
    padding: 10px;
    color: goldenrod;
    height:auto;
    width:auto;
}
button{
    margin: 10px;
    border: none;
}
img :hover{
    backdrop-filter: brightness(10%);

}
.info, .score, .footer, .winner{
    align-self: center;
    text-align: center;
}
.score p{
    margin:10px 0;
    font-size: 18px;
    text-decoration: double;
    font-weight: bold;
    text-align: left;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px 3vw;
}
.answers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}